a {
    color: #cfcfcf;
}

a:hover {
    text-decoration: none;
    color: #fff;
}


.icon-arrow-right {
    background-image: url(../images/header-morearrow.svg);
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 26px;
    height: 21px;
    margin-left: 10px;
}

body {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.75;
    color: #232323;
    background-image: linear-gradient(#040913, #040913);

}


/* navabr */
.navbar a {
    color: #ffffff
}

.nav-style {
    background-color: #000;
    box-shadow: 0 0 3px rgb(255 255 255 / 20%);
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.container {
    max-width: 1600px;
}

.tool-sec {
    margin-bottom: 50px;
    box-shadow: 0px 0px 100px rgba(118, 120, 138, 0.2);
}

.tool-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.tool-bar .icon-arrow-right {
    transform: rotate(-180deg);
    margin-right: 10px;
}

.tool-bar p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
}

.tool-bar div img {
    width: 32px;
    padding-left: 10px;
}

.project-wrap img {
    width: 80%;
    margin-bottom: 100px;
    box-shadow: 0px 0px 100px rgba(118, 120, 138, 0.2);
    border: 1px solid rgb(222, 223, 231);
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.tool-bar p {
    color: white;
}

.top-margin{
    margin-top: 110px;
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.hvr-icon-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:hover .hvr-icon, .hvr-icon-wobble-horizontal:focus .hvr-icon, .hvr-icon-wobble-horizontal:active .hvr-icon {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


